body {
  margin: 0px;
}
.cover {
  background-size: cover;
  height: 500px;
  display :flex;
  background-position: top;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
}

.PageTitle{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 36px;
  color: white;
  text-align: center;
  width: 780px;
}

.Profilepic{
  background: url(../images/vrk.png);
  display: flex;
  background-position:center;
  border-radius: 100%;
  border: 1px;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProfileText{
  display:block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: rgb(51, 51, 51);
  position: absolute;
  text-align: center;
  line-height: 24px;
  margin-bottom: -165px;
  border-bottom: 2px;
  line-height: 24px;
}

.hr{
  size:10px
  width: 2px;
  color: #e6e6e6;
}

.Section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Listiclebody{
  width: 66.67%;
  position: relative;
  /* padding: 60px 0px; */
}

.Listiclebodypadding{
  padding: 60px 0px;
}

.Contents{
  position: absolute;
  right: 100%;
}

.IndexNo{
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 40px;
}

.ItemTitle{
  font-family: "Roboto Slab",serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  /* position: absolute; */
}


a:link {
  font-family: "Roboto Slab",sans-serif;
  font-size:18px;
  font-weight: normal;
  color: #42b4d6;
  text-decoration: none;
}

a:visited {
  color: #42b4d6;
  text-decoration: none;
}

a:hover {
  color: #42b4d6;
  text-decoration: underline;
}

a:active {
  color: #42b4d6;
  text-decoration: underline;
}

.Paragraph{
  font-family: "Source Sans Pro",sans-serif;
  font-size:18px;
  font-weight: normal;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

img {
  width:100%;
}

.Paragraphbreak{
  height: 20px;
}
.Paragraphbreak1{
  height: 60px;
}
